.footer {
  .contacts {
    margin-right: 69px;
  }
  .logo {
    display: block;
    margin-bottom: 20px;
    color: var(--secondary-color);
  }
  .mail-tel {
    margin-top: 9px;
    display: block;
  }
}
